body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  position: relative;
  overflow-x: hidden;
}

.capa {
  background: url(../img/header_titulo.svg) repeat;
        background-size: cover;
}
v
.conteudo-capa {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding-left: 5%; 
  max-width: 100%;
}


.conteudo-capa img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: 10%; 
}

header {
  background-color: #0E9FE9;
  color: white;
  padding: 15px 30px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  z-index: 10;
  height: 10vh;
}

.titulotesteira{
    color: white;
		margin-bottom: -20px;
		font-size: 1.5vh !important;
    float: left;
    padding-left: 3%; 
    text-align: left;
    padding-top: 2vh;
}

.hamburguertesteira{
    color: white;
		margin-bottom: -20px;
		font-size: 1.5vh !important;
    float: left;
    padding-left: 3%; 
    text-align: left;
    padding-top: 2vh;
}

.svg-container{
line-height: 31px !important;
padding-top: 20px !important;
padding-bottom: 20px !important;
}

.pnan{
  float: left; 
  padding-left: 3%; 
  margin-top: 3vh; 
  height: 5vh;
}
.pnan-grande {
  float: left; 
  padding-left: 5vw; 
  margin-top: 2vh; 
  height: 6vh;
}

.flor-header{
  float: left; 
  height: 10vh;
}

header b {
  font-family: 'Montserrat', 
  sans-serif; 
  font-size: 2vh;
}

.container-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pagina {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}

.pagina.tem-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seta {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  z-index: 20;
}

.seta svg {
  transition: fill 0.3s ease;
}

#seta-direita:hover rect,
#seta-esquerda:hover rect {
  fill: #082D49;
}

.esquerda {
  left: 50px;
}

.direita {
  right: 50px;
}

h1 {
  margin-bottom: 20px;
}

article * {
	line-height: 1 !important;
}

article p {
	font-family: 'montserrat', sans-serif;
	line-height: 31px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	hyphens: auto;
    text-align: justify;
	color: #212121;
	font-size: 19px;

}

article h1,
h2,
h3, li{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

 ul li {
	margin: 0;
	padding-left: 50px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 120% !important;
	list-style: none;
	
  }
  
  ul li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	background-image: url('../img/bullet.svg');
	background-size: contain;
	background-repeat: no-repeat;
  }

  ul li.bullet-top-15::before {
	top: 10%;
	font-weight: normal; 
	font-size: 18px; 
	text-align: justify;
  }

  .custom-ol {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #333;
  list-style: decimal;
  padding-left: 40px; /* espaço pro número */
}

.custom-ol li::marker {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;       /* Tamanho do número */
  color: #0367a5;         /* Cor do número */
  font-weight: bold;       /* Negrito */
}

.custom-ol-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #333;
  list-style: decimal;
  padding-left: 40px; /* espaço pro número */
}

.custom-ol-2 li::marker {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;       /* Tamanho do número */
  color: #0367a5;         /* Cor do número */
  font-weight: bold;       /* Negrito */
}

.custom-ol-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #333;
  list-style: decimal;
  padding-left: 40px; /* espaço pro número */
}

.custom-ol-3 li::marker {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;       /* Tamanho do número */
  color: #0367a5;         /* Cor do número */
  font-weight: bold;       /* Negrito */
}
	  
.no-bullet::before {
	display: none;
}

.no-bullet{
	
	font-weight: 550;
	font-size: 20px;
}

li span{
	
	font-family: 'montserrat', sans-serif;
	line-height: 31px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	hyphens: auto;
    text-align: justify;
	color: #242628;
	/* position: relative; */
	/* top: 5px;; */
	left: 23px;
}

ul.sumario li{
	margin: 0;
	padding: 8px 8px 8px 25px !important;
	list-style: none;
	background-image: url("../img/Assets/g4.png");
	background-repeat: no-repeat;
	background-position: left 3px;
	background-size: 15px;
	font-family: 'OpenSans';

}

h1 {
	font-size: 25px;
	line-height: 44px;
	font-weight: bold;
	font-family: 'montserrat', sans-serif;

}


h2 {
	font-size: 36px;
	color: #242628;
	font-weight: bold;
	line-height: 48px !important;
	font-family: 'montserrat', sans-serif;
}

h3 {
	font-size: 24px;
	color: #242628;
	font-weight: bold;
	line-height: 120% !important;
	font-family: 'montserrat', sans-serif;

}

h4 {
	font-size: 20px;
	color: #242628;
	font-weight: 600;
	line-height: 120% !important;
	font-family: 'montserrat', sans-serif;
}

p {
	font-size: 18px;
	line-height: 140% !important;
	font-family: 'montserrat', sans-serif;
	color: #242628;
}

.imagem-fixa {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px; /* ajuste conforme quiser */
  height: auto;
  z-index: 1000; /* garante que fique por cima de outros elementos */
}

.imagem-fixa-superior-esquerda {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* ajuste conforme quiser */
  height: auto;
}

.imagem-fixa-inferior-esquerda {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px; /* ajuste conforme quiser */
  height: auto;
}

.degrade-1 {
  background: linear-gradient(to right, #027EC7, #F4B700); /* azul para amarelo */
  color: white; /* opcional, ajusta a cor do texto */
  font-weight: bold;
  border: none;
  transition: background 0.3s ease;
  
}

.degrade-2 {
  background: linear-gradient(to left, #027EC7, #F4B700); /* azul para amarelo */
  color: white; /* opcional, ajusta a cor do texto */
  font-weight: bold;
  border: none;
  transition: background 0.3s ease;
}

.accordion-body {
  background-color: #FFFBEB;
  border-radius: 10px;

}

.accordion-item {
  border: none;
  background-color: #FFFBEB;
}

.accordion-button::after {
  display: none;
}

.accordion-button {
  position: relative;
  padding-right: 2.5rem; /* espaço pro ícone */
  color: white !important;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.accordion-button.custom-arrow::before {
  content: '';
  background-image: url('../img/Vector.svg'); 
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
}

/* Quando expandido (classe removida ao colapsar) */
.accordion-button:not(.collapsed).custom-arrow::before {
  transform: translateY(-50%) rotate(180deg); /* gira pra direita */
}

.borda-inicial {
  margin-top: 10vh;
}

.responsive-svg {
  width: 100%;
  height: auto;
  max-height: 40vh; /* ou ajuste conforme necessário */
  display: block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.svg-hover:hover .responsive-svg {
  transform: scale(1.15);

}